
.first {
    align-content: start;
}

.second {
    align-content: end;
}
.mistake {
    position: relative;
    height: 16px; /* this can be anything */
    width: 16px;  /* ...but maintain 1:1 aspect ratio */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mistake::before,
.mistake::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px; /* cross thickness */
    background-color: black;
}

.mistake::before {
    transform: rotate(45deg);
}

.mistake::after {
    transform: rotate(-45deg);
}

.circle {
    border: 8px solid;
    border-radius: 9px;
    width: 2px;
}

.circle-container {
    position: relative;
    justify-content: space-between;
    margin: 9px 13px;
    display: flex;
    flex-basis: auto;
    height: 15px;
}

.green {
    border-color: #20A00A;
}

.red {
    border-color: #CE302C;
}

.orange {
    border-color: #D0800F;
}

.blue {
    border-color: #088CBD;
}

.purple {
    border-color:  #7120ab;
}

.pink {
    border-color:  #cc6e8f;
}

.brown {
    border-color: #6d3811;
}

.teal {
    border-color: #2e7372;
}

.navy {
    border-color: #022b75;
}

.yellow {
    border-color: #c1ba0b;
}

.screenshot_button {
    display: inline-block;
    border: none;
    padding: 5px;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0,0,0,0);
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 50px;
    width: 50px;
}

.screenshot_button_icon {
    height: 100%;
    width: 100%;
    color: white;
}

.screenshot_button:hover,
.screenshot_button:focus {
    background: #0053ba;
}

.screenshot_button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.screenshot_button:active {
    transform: scale(0.99);
}