#bsp-timer-element {
    font-size: 20pt;
    font-weight: bold;
    width: 100%;
    line-height: 20pt;
    margin-bottom: 20px;
    padding: 0 40%;
    text-align: right;
}

.running {
    color: white;
}

.finished {
    color: #3e9f00;
}

.paused {
    color: #a1a1a1;
}

.bsp-timestamp {
    font-size: 80%;
    color: #6dff54;
    display: inline;
    margin-right: 2px;
}

.fading {
    animation: fade-in 1s alternate infinite ease-out;
}

@keyframes fade-in {
    from {
        background-color: #8f0000;
    }
    to {
        background-color: #5a0000;
    }
}
